<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <header class="d-flex justify-content-between mb-4">
        <h5 class="card-title">Lista de Empleados</h5>
        <button class="btn btn-danger btn-sm">
          <i class="fa fa-plus me-2"></i>Nuevo empleado</button>
      </header>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
