<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-body">
          <div class="header mb-5 text-center">
            <div class="header-container">
              <h5 class="card-title mb-1">Información del Empleado</h5>
              <div *ngIf="loading" class="spinner-border text-danger float-end spiner" role="status">
                <span class="visually-hidden"></span>
              </div>
              <span *ngIf="submitted && createForm.invalid" class="badge bg-danger">Todos los campos son obligatorios</span>
            </div>
          </div>
          <form [formGroup]="createForm" (ngSubmit)="registrarEmpleado()">
            <div class="row">
              <div class="col">
                <input type="text" placeholder="Nombre" class="form-control" formControlName="nombre">
              </div>
              <div class="col">
                <input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos">
              </div>
            </div>
            <div class="mt-3 mb-3">
              <input type="text" placeholder="Documento" class="form-control" formControlName="documento">
            </div>
            <div class="mb-4">
              <input type="text" placeholder="Salario" class="form-control" formControlName="salario">
            </div>
            <div class="d-flex justify-content-center">
              <button [routerLink]="['/']" type="button" class="btn btn-secondary me-2">
                <i class="fa fa-arrow-circle-left me-2"></i>
                Volver
              </button>
              <button type="submit" class="btn btn-danger" [disabled]="createForm.invalid || loading">
                <i class="fa fa-save me-2"></i>
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
